.v-select {
  margin-right: 10px;
  min-width: 200px;
  max-width: 550px;
  min-width: 350px;
  height: 100%;
  border-radius: 25px;
  .vs__dropdown-toggle {
    height: 100%;
  }
}

.vs__selected-options {
  .vs__search {
    padding: 5px;
    &::placeholder {
      color: rgb(211, 211, 211);
    }
  }
}